.selections {
    width: 90%;
    background-color: lightblue;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
}

.selectionsList {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem auto;
    align-items: center;

}

.oneSelection {
    font-size: 1rem;
    cursor: pointer;
}

.oneSelection:hover {
    font-size: 1.5rem;
}

.button {
    border-radius: 0.3rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    font-size: 1.1rem;
    width: 11rem;
    height: 2.7rem;
}